*{  margin: 0;
    padding:0 ;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Rubik", sans-serif;
}
.container{
    width: 100%;
    max-width:1208px ;
    margin: 0 auto;
    padding: 0 20px;
}
header{
    .navbar{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 16px 0;
        gap: 40px;
        form{
           display: flex;
           align-items: center;
           gap: 16px;
            .button1{
             width: 140px;
             display: flex;
             align-items: center;
             gap: 8px;
             background: #70C05B;
             padding:8px;
             border: none;
             border-radius: 4px;
             color: #FFFFFF;
             font-weight: 400;
             font-size: 16px;
             line-height: 150%;
             .button1:hover{
                border: 1px solid #70C05B;
                background: white;
                color: #70C05B;
               }
           }
           .from_input{
            width: 316px;
            padding: 8px;
            display: flex;
            align-items: center;
            border-radius: 4px;
            border: 1px solid #70C05B;
            .search{
                 width: 100%;
                 border: none;
                 outline: none;
                 background: none;
                }
                 .input_serch{
                     background: transparent;
                     border: none;
                    }
           
           } 
        }
        .navbar_ul{
           display: flex;
           align-items: center;
           gap: 24px;
            .nav_a{
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 8px;
            font-weight: 400;
            font-size: 12px;
            line-height: 150%;
            color: #414141;
            }
            .select{
            display: flex;
            align-items: center;
            gap: 10px;
            border: none;
            background:none;
          .select1{
            border: none;
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            color: #232323;
          }
        }
         }
         .menu{
        display: none;
       }
    }
}
$primary-color:#FFFFFF;

main{
    background: #FBF8EC;
    section{
        .section_item{
            padding: 60px 0;
            h1{
                font-weight:700 ;
                font-size:64px ;
                line-height:150% ;
                color:#414141 ;
                margin-bottom: 60px;
            }
            .section_cards{
                width: 100%;
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                gap: 40px;
                .section_card--big{
                    grid-column: span 2;
                    height: 200px;
                    position: relative;
                    border-radius: 4px;
                    overflow: hidden;
                    box-shadow: 1px 2px 4px 0px #70C05B33;

                    img{
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        z-index: 1;
                    }
                     &::after{
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background: linear-gradient(180deg, rgba(112, 192, 91, 0) 40%, #70C05B 100%);
                        z-index: 2;
                        pointer-events: none;
                    }
                
                    h3{
                        position: absolute;
                        bottom: 10px;
                        left: 10px;
                        z-index: 3;
                        color:$primary-color;
                        font-weight:700 ;
                        font-size:18px ;
                        line-height:150% ;
                    }
                } 
                }
                 .section_card{
                    height: 200px;
                    position: relative;
                    border-radius: 4px;
                    overflow: hidden;
                    box-shadow: 1px 2px 4px 0px #70C05B33;

                    img{
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        z-index: 1;
                    }
                     &::after{
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background: linear-gradient(180deg, rgba(112, 192, 91, 0) 40%, #70C05B 100%);
                        z-index: 2;
                        pointer-events: none;
                    }
                    h3{
                        position: absolute;
                        bottom: 10px;
                        left: 10px;
                        z-index: 3;
                        color:$primary-color;
                        font-weight:700 ;
                        font-size:18px ;
                        line-height:150% ;
                    }
                }
                    
                 .section_card--img{
                    height: 200px;
                    position: relative;
                    border-radius: 4px;
                    overflow: hidden;
                    img{
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        z-index: 1;
                    }
                     &::after{
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background: linear-gradient(180deg, rgba(255, 102, 51, 0) 0%, #FF6633 100%);
                        z-index: 2;
                        pointer-events: none;
                    }
                    h3{
                        position: absolute;
                        bottom: 10px;
                        left: 10px;
                        z-index: 3;
                        color:$primary-color;
                        font-weight:700 ;
                        font-size:18px ;
                        line-height:150% ;
                    }
                } 
            }
        }
    }

footer{
    background:#F9F4E2;
    margin-bottom: 100px;
    .footer_item{
        padding: 24px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .footer_left{
            display: flex;
            align-items: center;
            gap: 40px;
            .left_iconlar{
                display: flex;
                align-items: center;
                gap: 40px;
                li{
                    a{
                      font-weight:400 ;
                       font-size:12px ;
                       line-height:150% ;  
                       color: #414141;
                    }
                }
            }
        }
        .footer_right{
            display: flex;
            align-items: center;
            gap: 40px;
            .right_iconlar{
                .right_iconlar1{
                   display: flex;
                   align-items: center;
                   gap: 20px;
                   font-size: 20px;
                }
            }
            .boglanish{
                display: flex;
                align-items: center;
                gap: 4px;
            }
        }
    }
}



@media(max-width:1150px){
  header{
    .container{
        .navbar{
        gap: 15px;
    }
  }
  }
  main{
    section{
        .section_item{
            padding: 40px 0;
            h1{
                font-size: 42px;
                margin-bottom: 35px;
            }
            .section_cards{
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 32px;
                     .section--big1{
                        display: grid;
                        grid-column:auto!important;
                        
                    }
            
            }
        }
    }
  }
  }
  
  @media(max-width:1103px){
  header{
    .container{
        .navbar{
        .form{
            .from_input{
                display: none;
            }
        }
    }
  }
}
footer{
       align-items: start;
    .footer_item{
            flex-direction: column-reverse;
            align-items: center;
            gap: 10px;
        

    
    }

    }
 }

@media(max-width:730px){
  main{
    section{
        .section_item{
            .section_cards{
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 16px;
                 .section_card{
                    width: 100%;
                    height: auto;
                 }
                }
            }
        }
    }
  }

@media(max-width:800px){
  header{
    .container{
        .navbar{
        .form{
                display: none;
        }
    }
  }
  
  }
  footer{
    .footer_item{
           .footer_left{
             .left_iconlar{
                gap: 15px;
             }
           } 
        

    
    }

    }
 } 
@media(max-width:686px){
  header{
    .container{
        .navbar{
        .navbar_ul{.nav_a{
            display: none;
        }}
        .menu{
            display: block;
        }
    }
  }
}
 footer{
    .footer_item{
           .footer_left{
            gap: 60px;
            width: 100%;
             .left_iconlar{
                flex-wrap: wrap;
                text-align: center;
                gap: 5px;
             }
           } 
           .footer_right{
            gap: 10px;
            text-align: center;
            .right_iconlar{
                .right_iconlar1{
                  gap: 0px;
                   
                }
               
            }
           }
        

    
    }

    }
}
@media(max-width:470px){
  header{
    .container{
        .navbar{
            .navbar_ul{
              display: none;  
        }
       }
    }
  }
   footer{
    .footer_item{
        flex-direction: column-reverse;
           .footer_left{
            gap: 20px;
             .left_iconlar{
                font-size: 15px;
                line-height: 100%;
             }
           } 
           .footer_right{
            .right_iconlar{
                .right_iconlar1{
                  width:50%;
                   
                }
               
            }
           }
        

    
    }

    }
}  